MEMGINE_PAYMENT_PROVIDER=MONERIS

MONERIS_CLIENT_ID=<FROM_AWS_SECRETS_MANAGER>
MONERIS_CLIENT_SECRET=<FROM_AWS_SECRETS_MANAGER>
MONERIS_MERCHANT_ID=<FROM_AWS_SECRETS_MANAGER>

MONERIS_BASE_URL=https://api.sb.moneris.io
MONERIS_API_VERSION=2024-09-17

MONERIS_HOSTED_TOKENIZATION_PROFILE_ID=ht41AN6BNPEXGAE
MONERIS_HOSTED_TOKENIZATION_URL=https://esqa.moneris.com/HPPtoken/index.php